@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import 'quasar.variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1488px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
}

@media screen and (max-width: 580px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

section {
  h2 {
    @include h2;
    color: $dark_blue;
  }
}

.btn {
  @include main-btn;
  &.gradient {
    background: $gradient2;
    color: $white;
  }
  &.orange {
    background: $orange;
    color: $white;
  }
}
